/*adicionando novas fontes*/
@font-face {
    font-family: 'Carelia';
    src: url(fontes/Carelia-Upright.ttf);
}
@font-face {
    font-family: 'Nimbus';
    src: url(fontes/TAN-NIMBUS.ttf);
}

body {
    /*cor de fundo do site e padrão do texto*/
    font-family: 'Carelia', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fffff1;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    margin-top: 90px;
}
img.title {
    /*ajustes da imagem título*/
    width: 100%;
    max-width: 1000px;
    height: auto;
}
h1 {
    margin: 0;
}
h2 {
    font-family: 'Nimbus';
    color: #8f5bbd;
}
/*configurações dos botões fixos no topo*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    background-color: #fffff1;
}
nav a {
    font-family: 'Carelia';
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fffff1;
    background-color: #8f5bbd;
    border-radius: 5px;
}
nav a:hover {
    background-color: #d8bcf4;
    /* muda a cor do botão quando o mouse passa por cima*/
}
section {
    padding: 20px;
    border-bottom: 1px solid #8f5bbd;
}
.content {
    margin: 20px 0;
}

/*exibição de imagens*/
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    position: relative;
}
/*lista com imagens como pontos*/
.list-with-images {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.lista li {
    background: url('imagens/star.png') no-repeat;
    background-size: 20px 20px;
    padding-left: 30px; 
    line-height: 1.6;
    text-align: left;
    margin-bottom: 10px;
}

  /* Estilo para o vídeo */
  .video-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.video-container video {
    width: 60%;
    max-width: 800px;
    height: auto;
}

/*ajustes do formulário*/
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 15px;
    font-size: 16px;
}
.contact-form textarea {
    height: 150px;
    resize: vertical;
}
.contact-form button {
    font-family: 'Carelia';
    background-color: #8f5bbd;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #d8bcf4;;
}
